body{
    background-color: #f6fafe;
    padding:50px;
}
.container{
    background-color: white;
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-group{
    margin-bottom:30px;
    
}

.form-btn{
    margin-bottom:30px;
}

.btn-primary{
    background-color: #54bafa;
    border-radius: 4px;
}